<div class="collapsable @(Collapsed ? "collapsable-full" : "collapsable-half")" style="">
    <div class="title" @onclick="@(() => Toggle())">
        <div class="row">
            <div class="col-md-4">
                <b style="font-size: 1.5rem;">@Title</b>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1">
                @if (Collapsed)
                {
                    <span class="oi oi-chevron-top mr-1" style="float: right; font-size: 1.7rem; color: #8D8D8D;"></span>
                }
                else
                {
                    <span class="oi oi-chevron-bottom mr-1" style="float: right; font-size: 1.7rem; color: #8D8D8D;"></span>
                }
            </div>
        </div>
    </div>
</div>

@if (!Collapsed)
{
    <div id="collapse@(Title)" class="collapsable-panel" style="">
        @ChildContent
    </div>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool Collapsed { get; set; } = false;
    [Parameter] public string Title { get; set; } = string.Empty;

    private void Toggle()
    {
        this.Collapsed = !this.Collapsed;
    }
}