.history-bubble {
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 5px 7px;
    display: inline-block;
    font-weight: 600;
}

.search-option {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: background-color linear .3s;
}

    .search-option:hover {
        background-color: #d8e7fa;
    }

.search-option-selected {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #fefefe;
    transition: background-color linear .3s;
}

    .search-option-selected:hover {
        background-color: #ffdada;
    }

.wayfinder-option-color {
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.wayfinder-option-padding {
    padding: 10px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 7px;
    left: 10px;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #ababab;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #d8e7fa;
    border: 1px solid #d8e7fa;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    /*top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;*/
    border-radius: 50%;
    background: #d8e7fa;
}


.wayfinder-text {
    cursor: pointer;
    white-space: nowrap;
}

.wayfinder-text-animated {
  animation: backAndForth 5s linear infinite;
}

.wayfinder-label {
    cursor: pointer;
    width: 100%;
    font-size: 22px;
    overflow: hidden;
}