.wayfinder-nav-bar {
    display: flex;
    padding: 5px;
    margin-top: 25px;
    width: fit-content;
    background-color: #ececec;
    border-radius: 25px;
}

.wayfinder-container {
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.wayfinder-container-active {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #155ed9, #2787fd);
    padding: 5px;
}

.wayfinder-category {
    cursor: pointer;
    color: #acacac;
    margin: 0px 20px;
}

    .wayfinder-category:hover {
        color: #000000;
    }

.wayfinder-category-active {
    cursor: pointer;
    margin: 0px 20px;
}
