
.game-color {
    color: #cdd1ff;
    font-weight: 600;
}

.game-display {
    border: solid 2px #cdd1ff;
    padding: 5px 8px;
    border-radius: 7px;
    background-color: #f4f9fd;
    color: #cdd1ff;
    font-weight: 600;
}

.world-color {
    color: #ea4a4a;
    font-weight: 600;
}

.world-display {
    border: solid 2px #ea4a4a;
    padding: 5px 8px;
    border-radius: 7px;
    background-color: #fdf4f4;
    color: #ea4a4a;
    font-weight: 600;
}

.area-color {
    color: #5499fc;
    font-weight: 600;
}

.area-display {
    border: solid 2px #5499fc;
    padding: 5px 8px;
    border-radius: 7px;
    background-color: #f4f5fd;
    color: #5499fc;
    font-weight: 600;
}

.character-color {
    color: #f3b222;
    font-weight: 600;
}

.character-display {
    border: solid 2px #f3b222;
    padding: 5px 8px;
    border-radius: 7px;
    background-color: #fdfbf4;
    color: #f3b222;
    font-weight: 600;
}

.music-color {
    color: #a13bfb;
    font-weight: 600;
}

.music-display {
    border: solid 2px #a13bfb;
    padding: 5px 8px;
    border-radius: 7px;
    background-color: #f4f5fd;
    color: #a13bfb;
    font-weight: 600;
}


.a {
    color: #1a00ff;
}


/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 10px;
    }
