@inherits LayoutComponentBase

<PageTitle>WayfinderProject</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/"><img src="/images/WFP.png" alt="The Wayfinder Project" style="position: absolute; left: 0; top: 0; width: 125px;"></a>

            <div class="links" style="left: 125px; position: absolute;">
                <a href="/">Home</a>
                <a href="/faq">FAQ</a>
                <a href="/about">About</a>
            </div>

            <a href="/swagger" target="_blank">API Reference</a>
            <a href="https://github.com/WaterKH/WayfinderProjectAPI/commits/main" target="_blank">Version History</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
