@inherits LayoutComponentBase

<PageTitle>WayfinderProject</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/"><img src="/images/WFP.png" alt="The Wayfinder Project" style="position: absolute; left: 0; top: 0; width: 125px;"></a>

            <a href="/swagger" target="_blank">API Documentation</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
