@page "/about"

<PageTitle>The Wayfinder Project - About</PageTitle>

<div id="about" style="padding: 0px 20px">
    <div class="row">
        <div class="col-md-12">
            <br/>

            <h3 style="text-align: center;">About & History</h3>
            
            <br/>


            <div class="row">
                <div class="col-md-3 img-rotate">
                    <img class="img-glide" src="/images/Platinum_Presto.webp" alt="Platinum Presto" width="20%">
                </div>

                <div class="col-md-9">
                    <p style="text-indent: 30px;">
                        The Wayfinder Project was started in the spring of 2021 by <a href="https://twitter.com/TheSubparPatsby" target="_blank"><strong>Regular Pat</strong></a> (that’s me!) 
                        I work as a full-time content creator with a focus on videos about my favorite series, Kingdom Hearts. 
                        I’ve been making Kingdom Hearts content since August of 2019, and was recipient of the Million Dreams Award for Content Creator of the Year at the KH20 Celebration. 
                        <a href="https://www.youtube.com/c/RegularPat" target="_blank">You can check out my channel here</a>. Given that making videos about the series is what I do for a living, 
                        I decided it’d be a good idea to invest some time in streamlining the process as much as possible; 
                        too often did I find myself scrubbing through multi-hour long cutscene compilations or skimming through one of the game’s Theater Modes to find the exact piece of footage that 
                        I needed for the video essay or ranking project that I was working on. 
                    </p>
                </div>
            </div>

            <br />
            <hr />
            <br />

            <div class="row">
                <div class="col-md-8">
                    <br />
                    <p style="text-indent: 30px;">
                        Thus, I embarked on a long and nerdy quest to watch each and every cutscene in the KH series and catalog every piece of information about them in 
                        <a href="https://docs.google.com/spreadsheets/d/13opj3BQ6eEZEaV6GSNmLamZOQYCojUIgU93eUCneInQ/edit#gid=0" target="_blank">a Google Sheets file</a>. 
                        I had completed work on KH1, ReCoM and 2 for my own purposes, but since it had been so helpful for me, 
                        I decided to finish documenting the rest of the series and make the project public for anyone to use. 
                        In September of 2021, <a href="https://www.youtube.com/watch?v=hdgc6m0ACCQ" target="_blank">I posted a video explaining the original Sheets version of the Wayfinder Project</a>
                        and made it accessible to everyone. It is easily one of my favorite things I’ve done during my time in the KH community.
                    </p>
                </div>

                <div class="col-md-4" style="text-align: center;">
                    <iframe src="https://www.youtube.com/embed/hdgc6m0ACCQ"></iframe>
                </div>
            </div>
            
            <br />
            <hr />
            <br />

            <div class="row">
                <div class="col-md-2" style="text-align: center;">
                    <img class="img" src="/images/Water.gif" alt="waterkh - Art by StarlightMitchi" width="50%">
                </div>

                <div class="col-md-10">
                    <p style="text-indent: 30px;">
                        In August of 2022, I was approached by <a href="https://twitter.com/water_kh" target="_blank"><strong>waterkh</strong></a>, an incredibly talented and dedicated modder in the community 
                        (and a winner of a Million Dreams Award himself, for Mods & Customizations.) 
                        He had the idea of transforming the project from a Sheets file into a dedicated database and website, complete with a much cleaner and more functional UI. 
                        As we discussed what was essentially the creation of the Wayfinder Project 2.0, we also decided the database could be made even more useful by adding every cutscene’s script to it, 
                        a feature that was simply unfeasible for the Google Sheets version of the project. 
                        Now, instead of using CTRL+F to maybe find a memorable line or keyword I left in the notes section, you can search up literally any word in the series and find the exact scene you’re looking for. 
                        I cannot thank Water enough for his help and the massive upgrade he gave to the project! The new and improved Wayfinder Project was launched to the public on 09/13/2022.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-12">
            <br/>

            <h3 style="text-align: center;">Special Thanks</h3>
            
            <br/>

            <p>
                <a href="https://twitter.com/water_kh" target="_blank"><strong>Waterkh</strong></a> for all of his aforementioned work on the project. He’s efficient, patient, and super easy to work with.
            </p>
            <p>
                <a href="https://twitter.com/thechainoffire" target="_blank"><strong>Chaineh</strong></a> and <a href="https://twitter.com/KeySpyMaster" target="_blank"><strong>KeybladeSpyMaster</strong></a> 
                at the <a href="https://www.khdatabase.com/" target="_blank"><strong>Kingdom Hearts Database</strong></a> 
                for their assistance in hosting much of the Wayfinder Project’s cutscene uploads on <a href="https://www.youtube.com/channel/UCtAZqe2Rw_MjQwqBpeOU3Ug" target="_blank">their YouTube channel</a>. 
                Chaineh has also been a great help in uploading additional scenes from the games as well as documenting the final Dark Road update for the project.
            </p>
            <p>
                <a href="https://twitter.com/cabletownart" target="_blank">PJ at @@cabletownart</a> for the beautiful logo.
            </p>
            <p>
                <a href="https://twitter.com/DavidRussell323" target="_blank"><strong>David Russell</strong></a>, <a href="https://twitter.com/KinodeKH" target="_blank"><strong>Kinode</strong></a>, 
                <a href="https://twitter.com/LightyVox" target="_blank"><strong>Lighty</strong></a> and <a href="https://twitter.com/KHWaterBlock" target="_blank"><strong>KHWaterBlock</strong></a> 
                for their assistance in identifying several music tracks, many of which were unnamed/unreleased tracks from KH3.
            </p>
            <p>
                The YouTube channel <a href="https://www.youtube.com/user/appsplusgameplay" target="_blank"><strong>Gameplay Sharks</strong></a> (also known as appsplusgameplay) 
                for already hosting several of the series’ cutscenes in my preferred manner, saving me a mountain of time on recording and uploading footage.
            </p>
            <p>
                My wonderful community, especially my Patreon supporters, for both their moral and financial support– I would not have been able to comfortably sink as much time as I did into this project without their generosity.
            </p>
            <p>
                Every video-maker, fanfic writer, or curious/bored fan who’s reached out to me to let me know that they’ve found this project helpful or interesting. 
                At the very least, it gives me peace of mind to know that other people have gotten mileage or enjoyment out of this mind-numbing labor of love. Thank you!
            </p>

        </div>
    </div>
</div>


<style>

.img-glide {
   position:relative;
   -webkit-animation: glide 6s ease-in-out alternate infinite;
}

.img-rotate {
   position:relative;
   -webkit-animation: rotation 2s ease-in-out alternate infinite;
}

@@-webkit-keyframes glide  {
   from {
      left:0px;
   }
   
   to {
      left:50%;
   }
}

@@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

</style>

@code {
    
}