@page "/faq"

<PageTitle>The Wayfinder Project - FAQ</PageTitle>

<div id="faq" style="padding: 0px 80px">
    <div class="row">
        <div class="col-md-12">
            <br/>

            <h3 style="text-align: center;">Frequently Asked Questions</h3>
            
            <br/>

            <p style="margin-bottom: 0px;">
                <strong>Q:</strong> Will this be updated for Kingdom Hearts IV, Missing-Link, et cetera?
            </p>
            <p>
                <strong>A:</strong> That is the plan, yes! Obviously this won’t be done the very moment the games release, but rest assured, I am committed to keeping the project up to date.
            </p>

            <br />

            <p style="margin-bottom: 0px;">
                <strong>Q:</strong> Is the old Google Sheets version of the project still available?
            </p>
            <p>
                <strong>A:</strong> Yes, and I have every intent of keeping it that way and keeping that version up to date as well. 
                I know some folks are already used to it and may just have an easier time navigating it, so I’m not gonna force you to use the new one. 
                <a href="https://docs.google.com/spreadsheets/d/13opj3BQ6eEZEaV6GSNmLamZOQYCojUIgU93eUCneInQ/edit#gid=0" target="_blank">It’s right here</a>!
            </p>

            <br />

            <p style="margin-bottom: 0px;">
                <strong>Q:</strong> I noticed a cutscene has a typo/dead link/wrong info.
            </p>
            <p>
                <strong>A:</strong> That wasn’t a question. But yeah, that’s bound to happen. You can let me know if something isn’t working properly or if there’s an error and I’ll try to fix it as soon as I can. 
                You can email me at <strong><u>regularpatYT@gmail.com</u></strong> or just shoot me a DM on Twitter or Discord.
            </p>
            
            <br />

            <p style="margin-bottom: 0px;">
                <strong>Q:</strong> Is this free?
            </p>
            <p>
                <strong>A:</strong> You’re dang right it is, and it always will be! Of course, it was a ton of work to make, and I do need to pay to keep the website running, 
                <a href="https://ko-fi.com/regularpat" target="_blank">so I’ll never turn down charitable donations</a>. :) 
                You should also <a href="https://ko-fi.com/regularpat" target="_blank">throw munny at waterkh</a> (I, waterkh, am asking you to give Pat the munny) for making the project Cool™  and Better.™ 
            </p>
        </div>
    </div>
</div>


<style>

.img-glide {
   position:relative;
   -webkit-animation: glide 6s ease-in-out alternate infinite;
}

.img-rotate {
   position:relative;
   -webkit-animation: rotation 2s ease-in-out alternate infinite;
}

@@-webkit-keyframes glide  {
   from {
      left:0px;
   }
   
   to {
      left:50%;
   }
}

@@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

</style>

@code {
    
}