@page "/faq"

<PageTitle>The Wayfinder Project - FAQ</PageTitle>

<div class="wayfinder-background">
    <div class="row" style="width: 100%; margin: 0px">
        <div class="col-md-12" style="padding: 40px 110px;">
            <div class="wayfinder-title">
                <img src="/images/wayfinder_project_title.png" />
            </div>

            <div class="wayfinder-description">
                <strong>How to use the Database and Frequently Asked Questions.</strong>
            </div>
        </div>
    </div>
</div>

<div id="faq" style="padding: 0px 80px">
    <div class="row">
        <div class="col-md-6">
            <p style="margin-bottom: 0px;">
                <span class="wayfinder-header" style="color: #1b31ff; margin-bottom: 0px;">How to use the Database</span>
            </p>

            <iconify-icon class="wayfinder-info" icon="bi:info" />
            <p style="margin-top: -10px;">
                
                Welcome to the Wayfinder Project, a directory and database for every cutscene in the Kingdom Hearts series!
                Over the course of 20+ years and more than 15 titles, the KH series is filled to the brim with over 2,000 cutscenes and thousands of lines of dialogue.
                The purpose of this database is to help you <strong>find any particular scene, moment, or line from the series</strong> with just a few keystrokes.
            </p>
            <p>
                For example, if you’re looking for, say, that scene with Xigbar and Zexion in KH2FM, you can enter both characters in the “character” field, and KH2 in the “games” field.
                This’ll narrow your search down to just two scenes: one with the entire Organization in the throne room, and one with just the two chatting after Vexen runs off in Twilight’s View.
            </p>
            <p>
                Want to know <strong>every time a certain song is used</strong> in the series? Use the “Music” field to search for Rowdy Rumble, Tension Rising, The Other Promise, etc, and you’ll have your answer!
            </p>
            <p>
                Brand new to this version of the Wayfinder Project is the ability to <strong>search any keyword within the games’ dialogue and get every instance of that word or phrase returned</strong>.
                For example, are you looking for that scene where Donald calls Goofy a big palooka?
                Search palooka in the topmost field and you’ll be directed to that exact scene, complete with everything else you’d want to know about it: the characters who appear in it,
                the world and area it takes place in, the music playing, and a transcript of all spoken dialogue in the scene.
                Embedded in the search result is a link to the scene on YouTube for your convenience.
            </p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5">
            <p style="margin-bottom: 0px;">
                <span class="wayfinder-header" style="color: #8112ff; margin-bottom: 0px;">Frequently Asked Questions</span>
            </p>
            
            <iconify-icon class="wayfinder-question" icon="bi:question" />
            <p style="margin-top: -10px; margin-bottom: 0px;">
                <strong>Will this be updated for Kingdom Hearts IV, Missing-Link, et cetera?</strong>
            </p>
            <p>
                That is the plan, yes! Obviously this won’t be done the very moment the games release, but rest assured, I am committed to keeping the project up to date.
            </p>

            <iconify-icon class="wayfinder-question" icon="bi:question" />
            <p style="margin-top: -10px; margin-bottom: 0px;">
                <strong>Is the old Google Sheets version of the project still available?</strong>
            </p>
            <p>
                Yes, and I have every intent of keeping it that way and keeping that version up to date as well. 
                I know some folks are already used to it and may just have an easier time navigating it, so I’m not gonna force you to use the new one. 
                <a href="https://docs.google.com/spreadsheets/d/13opj3BQ6eEZEaV6GSNmLamZOQYCojUIgU93eUCneInQ/edit#gid=0" target="_blank">It’s right here</a>!
            </p>

            <iconify-icon class="wayfinder-question" icon="bi:question" />
            <p style="margin-top: -10px; margin-bottom: 0px;">
                <strong>I noticed a cutscene has a typo/dead link/wrong info.</strong>
            </p>
            <p>
                That wasn’t a question. But yeah, that’s bound to happen. You can use the <a href="https://github.com/WaterKH/WayfinderProjectAPI/issues/new?assignees=WaterKH&labels=bug&template=bug_report.md&title=">Issue Reporter</a> 
                in the top right to let us know about any errors and we'll fix it as soon as we can.
            </p>
            
            <iconify-icon class="wayfinder-question" icon="bi:question" />
            <p style="margin-top: -10px; margin-bottom: 0px;">
                <strong>Is this free?</strong>
            </p>
            <p>
                You’re dang right it is, and it always will be! Of course, it was a ton of work to make, and I do need to pay to keep the website running, 
                <a href="https://ko-fi.com/regularpat" target="_blank">so I’ll never turn down charitable donations</a>. :) 
                You should also <a href="https://ko-fi.com/regularpat" target="_blank">throw munny at waterkh</a> (I, waterkh, am asking you to give Pat the munny) for making the project Cool™  and Better.™ 
            </p>
        </div>
    </div>
</div>


<style>

.img-glide {
   position:relative;
   -webkit-animation: glide 6s ease-in-out alternate infinite;
}

.img-rotate {
   position:relative;
   -webkit-animation: rotation 2s ease-in-out alternate infinite;
}

@@-webkit-keyframes glide  {
   from {
      left:0px;
   }
   
   to {
      left:50%;
   }
}

@@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}


    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 10px;
        }


</style>

@code {
    
}