.wayfinder-background {
    border-radius: 35px;
    background: linear-gradient(125deg, #d5e5fa, #f2f2f7, #f7dfec);
    margin-bottom: 30px;
    padding: 50px;
    width: 100%;
}

.wayfinder-parallax {
    border-radius: 35px;
    padding: 20px;
    background-image: url(/images/WFP_logo_INVIS.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wayfinder-title {
    text-align: start;
    font-size: xx-large;
}

.wayfinder-description {
    text-align: end;
    font-size: larger;
}

.wayfinder-button {
    padding: 5px 30px;
    position: relative;
    color: white;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #155ed9, #2787fd);
    font-size: larger;
}

    .wayfinder-button:focus {
        outline: none;
        border: none;
    }

/* Referenced from https://stackoverflow.com/questions/15857006/drawing-a-folder-icon-with-css */
.ma-folder {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 0px 25px 25px 25px;
    background-color: #3b7aef;
    padding: 15px;
}

    .ma-folder:before {
        z-index: -2;
        content: '';
        width: 70%;
        height: 85px;
        border-radius: 25px 70px 0 0;
        background-color: #3b7aef;
        position: absolute;
        top: -35px;
        left: 0px;
    }

.jj-folder {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 0px 25px 25px 25px;
    background-color: #00c38e;
}

    .jj-folder:before {
        z-index: -2;
        content: '';
        width: 70%;
        height: 85px;
        border-radius: 25px 70px 0 0;
        background-color: #00c38e;
        position: absolute;
        top: -35px;
        left: 0px;
    }

.ms-folder {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 0px 25px 25px 25px;
    background-color: #edad00;
}

    .ms-folder:before {
        z-index: -2;
        content: '';
        width: 70%;
        height: 85px;
        border-radius: 25px 70px 0 0;
        background-color: #edad00;
        position: absolute;
        top: -35px;
        left: 0px;
    }

.folder-title {
    position: absolute;
    top: -30px;
    color: white;
    margin-left: 25px;
    font-size: x-large;
    cursor: default;
}

.folder-container {
    width: 100%;
    height: 40vh;
    padding: 0px 15px 5px 15px;
    background-color: #ffffffbf;
    color: #00000000;
    border-radius: 25px;
    zoom: 1;
    overflow: clip;
}

.folder-image {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transform: scale(1);
    cursor: pointer;

    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
}

    .folder-image:hover {
        background: rgba(0, 0, 0, 0.7);
        transform: scale(1.25);
        color: #f1f1f155;
    }

.folder-content {
    color: white;
    padding: 15px 20px 0px 20px;
    cursor: default;
}

.folder-redirect {
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    padding-top: 5px;
    padding-left: 11px;
    width: 35px;
    height: 35px;
    z-index: 5;
    pointer-events: none;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 10px;
    }
