@page "/privacy_policy"

<PageTitle>The Wayfinder Project - Privacy Policy</PageTitle>

<div class="wayfinder-background">
    <div class="row" style="width: 100%; margin: 0px 0px 30px 0px">
        <div class="col-md-12" style="padding: 40px 110px;">
            <div class="wayfinder-title">
                <img src="/images/wayfinder_project_title.png" />
            </div>

            <div class="wayfinder-description">
                <strong>Privacy Policy</strong>
            </div>
        </div>
    </div>
</div>

<div id="privacy_policy" style="padding: 0px 80px">
    <div class="row">
        <div class="col-md-12">
            <h3>What Data Is Collected?</h3>
            <p>
                The Wayfinder Project retains information for users when an account is created, meaning the email and password of a user is retained using 
                Microsoft's Identity Framework. Users can trust that their sensitive information will be securely stored. Any searches performed by a user 
                will also be retained, meaning the parameters like Character, World, Area and Music are saved on a successful search. This data is 
                associated to the user's account for as long as the account exists. Patreon is used to verify if the user is a patron or not, and is not 
                used for authentication purposes, it is only used to link the account information from Patreon. More information can be found on the 
                <a href="/terms_of_use">Terms of Use</a> page. YouTube also more than likely will be tracking data usage through the embeded video player 
                and their privacy policy can be found below. Any information collected from 3rd party authentication, linking or otherwise can be found 
                on their privacy policy pages:
                <ul>
                    <li>
                        Google: <a href="https://policies.google.com/privacy?hl=en-US" target="_blank">https://policies.google.com/privacy?hl=en-US</a>
                    </li>
                    <li>
                        Twitter: <a href="https://twitter.com/en/privacy" target="_blank">https://twitter.com/en/privacy</a>
                    </li>
                    <li>
                        GitHub: <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement" target="_blank">https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement</a>
                    </li>
                    <li>
                        Patreon (Not used for authentication): <a href="https://privacy.patreon.com/policies" target="_blank">https://privacy.patreon.com/policies</a>
                    </li>
                    <li>
                        YouTube (Not used for authentication): <a href="https://support.google.com/youtube/answer/10364219?hl=en" target="_blank">https://support.google.com/youtube/answer/10364219?hl=en</a>
                    </li>
                </ul>
            </p>

            <h3>Where Is Data Collected?</h3>
            <p>
                Account information is retrieved on the register page, which is used to authenticate and authorize the user access to The Wayfinder Project. 
                Search information is collected from searches performed on each page of The Wayfinder Project, including the Memory Archive, Jiminy's Journal and 
                Moogle Shop. Data is retained for any search for that user for as long as the account exists. Data is most likely tracked through YouTube when 
                interacting with the embeded video player associated with scenes on the Memory Archive page.
            </p>
            
            <h3>Why Is Data Collected?</h3>
            <p>
                The Wayfinder Project collects account information to authenticate and authorize user's so they can have access to the website/ database. 
                Search information is collected so that users can have a log of searches they performed previously. This data will also be analyzed by 
                The Wayfinder Project staff to inform about what is popular, what is non-performant in terms of queries generated from searches, and 
                what can be changed to enhance searchability in the future.
            </p>
            
            <h3>How Is Data Collected?</h3>
            <p>
                Data is collected through user submitted information for account sign-up, meaning an email and password. The Wayfinder Project also allows 3rd party 
                authentication, using Google, Twitter and GitHub. Their privacy policies can be found above. Information is also collected when searches are performed on 
                the Memory Archive, Jiminy's Journal and Moogle Shop pages. This information includes the search parameters used like Character, Dialogue and Music on a successful search. 
                Patreon information can be voluntarily given to link the user's account on The Wayfinder Project to Patreon to verify if they are a patron or not. The 
                Memory Archive page also uses YouTube's embeded video player and this more than likely tracks usage data.
            </p>
            
            <h3>Who Is Data Shared With?</h3>
            <p>
                Your account information is not shared with anyone outside of The Wayfinder Project team. Passwords are securely stored and not visible to staff as it 
                employs Microsoft's Identity Framework. Any 3rd party authentication is also stored with Microsoft's Identity Framework and not shared with anyone. 
                Searches performed by users are not shared with anyone outside of The Wayfinder Project team.
            </p>
            
            <h3>What Rights You Have Over Your Data?</h3>
            <p>
                You also have the right to request all of your data for whatever reason. You have the right to request that your data be removed from the 
                platform. This will take effect as quickly as support is able to action your request. Both of these actions can be requested on the following 
                page: <a href="/Identity/Account/Manage" target="_blank">Your Account</a>.
            </p>
            
            <h3>Contact Details & Disclaimers</h3>
            <p>
                If you have any questions or concerns with this policy, or if you would like to privately discuss how your data is stored or used, please contact 
                the staff at: <span class="email">thewayfinderprojectKH@gmail.com</span>. The Wayfinder Project also retains the right to update this policy.
            </p>
        </div>
    </div>
</div>


<style>

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 10px;
        }


</style>

@code {
    
}