@page "/privacy_policy"

<PageTitle>The Wayfinder Project - Privacy Policy</PageTitle>

<div id="privacy_policy" style="padding: 0px 80px">
    <div class="row">
        <div class="col-md-12">
            <p style="margin-bottom: 0px;">
                <span class="wayfinder-header" style="color: #1b31ff; margin-bottom: 0px;">Privacy Policy</span>
            </p>

            <h3>What Data Is Collected?</h3>
            <p></p>

            <h3>Where Is Data Collected?</h3>
            <p></p>
            
            <h3>Why Is Data Collected?</h3>
            <p></p>
            
            <h3>How Is Data Collected?</h3>
            <p></p>
            
            <h3>Who Is Data Shared With?</h3>
            <p></p>
            
            <h3>What Rights You Have Over Your Data?</h3>
            <p></p>
            
            <h3>Contact Details</h3>
            <p></p>

        </div>
    </div>
</div>


<style>

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 10px;
        }


</style>

@code {
    
}