.history-bubble {
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 5px 7px;
    display: inline-block;
    font-weight: 600;
}

.wayfinder-background {
    border-radius: 35px;
    background: linear-gradient(125deg, #d5e5fa, #f2f2f7, #f7dfec);
    margin-left: -30px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    width: 90%;
}

.wayfinder-title {
    text-align: left;
    font-size: large;
}

.wayfinder-description {
    margin-top: 15px;
    text-align: left;
    font-size: large;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-weight: 700;
    font-size: 25px;
}

    h2 span {
        background: #ffffff;
        padding: 0 20px;
    }


.wayfinder-search-button {
    padding: 5px 30px;
    position: relative;
    color: white;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #155ed9, #2787fd);
    text-align: center;
}

    .wayfinder-search-button:focus {
        outline: none;
        border: none;
    }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 10px;
    }
