@page "/terms_of_use"

<PageTitle>The Wayfinder Project - Terms of Use</PageTitle>

<div class="wayfinder-background">
    <div class="row" style="width: 100%; margin: 0px 0px 30px 0px">
        <div class="col-md-12" style="padding: 40px 110px;">
            <div class="wayfinder-title">
                <img src="/images/wayfinder_project_title.png" />
            </div>

            <div class="wayfinder-description">
                <strong>Terms of Use</strong>
            </div>
        </div>
    </div>
</div>

<div id="terms_of_use" style="padding: 0px 80px">
    <div class="row">
        <div class="col-md-12">
            <h3>Acceptance of Terms</h3>
            <p>
                By using The Wayfinder Project website, API or direct database access, the user agrees to follow the terms and conditions. The Wayfinder Project 
                is to be used by individuals over 18, or under this threshold with a guardian present. This is to adhere to YouTube's guidelines as well as protect 
                The Wayfinder Project in the event of potential age-restricted imagery contained within Kingdom Hearts or inappropriate videos that may appear 
                due to YouTube's recommended videos at the end of watching a scene through The Wayfinder Project's embeded video player. These terms are 
                legally binding between the user and The Wayfinder Project. The user is able to use the resources provided by The Wayfinder Project so long 
                as they follow the terms of use of the website.
            </p>
            
            <h3>Acceptable Use Policy</h3>
            <p>
                The Wayfinder Project is intended for research purprose, resource gathering and general use. The Wayfinder Project is a free experience for user's 
                to enjoy and use. As such, no user shall exploit this website for personal gain. If The Wayfinder Project is used in ways for monetary gain, like 
                for research purposes or resource gathering, the individual must cite The Wayfinder Project as a source. The Wayfinder Project does not allow the 
                use of the website, API or database in tandem with any illegal action or purpose. The Wayfinder Project requires users to follow the law regarding 
                usage of this website in their area and country, including international use. The Wayfinder Project will not tolerate misuse of the search engine, 
                such as using the website to search for under-age content in any inappropriate manner, be a source of harassment against any group or culture, or 
                anything else that may fall into categories of racism, sexism or anything of this nature.
            </p>
            
            <h3>User Accounts</h3>
            <p>
                The Wayfinder Project requires user accounts to be created to access the website. When creating an account, the user is ensuring all information 
                provided is accurate. The user is responsible for their account and the information stored with it, including: email, password, 3rd party authentication, 
                linked accounts and search results. In the event that a user is unable to login, they are responsible for taking action on their own behalf to 
                retrieve their account information or reset their password.
            </p>
            
            <h3>Rights and Obligations</h3>
            <p>
                The Wayfinder Project retains the right to modify, change, add to, suspend and/ or terminate services or pages provided by any or all parts of the website, API 
                or database. Any of these actions can be performed at any time without notice given to users. By using The Wayfinder Project, you are not given any entitlement to 
                the data that is provided or to the website, API or database itself. The Wayfinder Project has no obligation to support or maintain the website, API or database. 
                The Wayfinder Project does not have any obligation to any user to provide customer support, unless otherwise stated elsewhere in detail. The Wayfinder Project 
                does not own any imagery, scenes or properties created by Walt Disney, Square Enix or any of their affiliates. The Wayfinder Project retains intellectual property 
                of the information collected and presented in the manner that it is done. Any user submitted feedback or GitHub issue that is used for the enhancement of the user 
                experience of the website does not obligate The Wayfinder Project to compensate the user and is done at will by the user.
            </p>

            <h3>Privacy</h3>
            <p>
                For information regarding the user's privacy, please refer to the <a href="/privacy_policy" target="_blank">Privacy Policy</a> page. The Wayfinder Project 
                retains the right to act on any data received from the user in the form of account information or search parameters. This enables The Wayfinder Project 
                to maintain a safe environment and allows The Wayfinder Project to terminate any account and revoke access at any time at The Wayfinder Project's discretion.
            </p>

            <h3>Disclaimers</h3>
            <p>
                Information gathered by The Wayfinder Project does not take ownership of the commercial property of any company or entity. The website, API and database are
                accepted "as is". The Wayfinder Project is not libale for any entitlement a user may feel or promises that were not offered.
            </p>
        </div>
    </div>
</div>


<style>

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 10px;
        }


</style>

@code {
    
}