@page "/terms_of_use"

<PageTitle>The Wayfinder Project - Privacy Policy</PageTitle>

<div id="privacy_policy" style="padding: 0px 80px">
    <div class="row">
        <div class="col-md-12">
            <p style="margin-bottom: 0px;">
                <span class="wayfinder-header" style="color: #1b31ff; margin-bottom: 0px;">Privacy Policy</span>
            </p>

            <h3>Acceptance of Terms – This section will detail to the user that by using the website and any services provided, they are agreeing to adhere to the terms and conditions set forth. It also details that the terms are a binding legal agreement and sets any age restrictions for visitors.</h3>
            <p></p>

            <h3>License to Use – This section will detail that the visitor has a limited right to use the website as long as they abide by the terms that are set forth in the complete terms of use.</h3>
            <p></p>
            
            <h3>Cookies – If your website uses cookies, you need to have a section that details how they are used to store information. You must also detail how users can decline these cookies by disabling them in their browser settings.</h3>
            <p></p>
            
            <h3>Acceptable Use Policy – This is the section that will provide a list of prohibited uses of the website. Some examples to include are illegal purposes, harvesting data, harassing others, using your website for users' personal gain, and more.</h3>
            <p></p>
            
            <h3>International Use and Compliance – This section will detail that the visitors are required to ensure the site conforms to any laws in their area.</h3>
            <p></p>
            
            <h3>User Accounts – If you allow people to make accounts on your website, you should include this section. It will detail that when an account is made, the user is ensuring all data provided is accurate and true and that they are responsible for their account information, including their password.</h3>
            <p></p>
            
            <h3>Modification of Site – You will want to include this section because it will detail that you are allowed to modify, change, add to, terminate, or suspend any part or all of the site at any time, even without providing notice.</h3>
            <p></p>

            
            <h3>Support or Maintenance – Unless you plan on providing it, you will want to detail that you are not under an obligation to provide any website maintenance or customer support.</h3>
            <p></p>

            <h3>Privacy – In this section you will detail your privacy policy if you have one in place. It will state how users' property is kept private and any circumstances where you may not be able to keep the information private. You also have the option of pointing to a separate privacy policy that pertains to your website.</h3>
            <p></p>

            <h3>Your Rights and Ownership – This section will detail that you own all intellectual property rights to content on the website, except for any user content, and that the visitors to the site may not use it in any way without permission.</h3>
            <p></p>

            <h3>Disclaimers – There are a variety of disclaimers you can use on your website and you should make sure all of them are detailed in this section. For example, this could include that the information provided is informational only, that the site is accepted as is, and that you are not liable for any promises you did not offer or intend to offer.</h3>
            <p></p>

            <h3>Termination and Modification – This section will detail that you can terminate the access of any visitor at any time without notice and at your discretion.</h3>
            <p></p>

        </div>
    </div>
</div>


<style>

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 10px;
        }


</style>

@code {
    
}